@font-face {
  font-family: "pt_sansregular";
  src: url("assets/fonts/pt_sans/PTS55F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-opensans-bold: "OpenSans-Bold";
  --font-pt-sans: "pt_sansregular";
  --fontSize: 14px;
  --bgColor1: #400042;
  --bgColorVar2: #710275;
  --textColor1: white;
  --txtColor1: #400042;
  --bgColorHover1: #ce0089;
  --borderColor1: rgb(153, 153, 153);
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: var(--font-pt-sans);
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body {
  color: var(--txtColor1);
  /* box-sizing: border-box; */
  /* font-family: var(--font-roboto); */
  font-size: var(--fontSize);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

.osr {
  font-family: var(--font-opensans);
}

.rbr {
  font-family: var(--font-roboto);
}
.fcr {
  font-family: var(--font-firacode);
}
:root {
  --circuit-bg: black;

  --gate-bg: rgb(39, 39, 39);
  --gate-stroke-color: rgb(141, 141, 141);
  --gate-input-normal: #4d4d4d;
  --gate-input-active: rgb(94, 255, 0);
  --gate-input-inactive: rgb(27, 27, 27);

  --gate-stroke-width: 1;
}
.circuitBoard {
  background-color: var(--circuit-bg);
  position: relative;
}
.circuitBoard .gateContainer {
  /* background-color: blue; */
  width: 100px;
  height: 100px;
}
.circuitBoard .andGate {
  fill: var(--gate-bg);
  stroke: var(--gate-stroke-color);
  stroke-width: var(--gate-stroke-width);
}
